
.footer-container {
  background: linear-gradient(90deg, #004d7a, #007bb5);
  color: white;
  padding: 10px 20px;
  font-family: "Arial", sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000;
  height: 50px;
}


.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 0.8rem;
  height: 100%;
}


.footer-logo {
  text-align: center;
}

.footer-logo h3 {
  font-size: 1rem;
  margin: 0;
  color: #f9a825;
}

.footer-logo p {
  margin: 0;
  font-size: 0.75rem;
  color: #f4f4f9;
}

.footer-contact {
  text-align: center;
  font-size: 0.75rem;
  color: #f4f4f9;
}

.footer-contact a {
  color: #f9a825;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-contact a:hover {
  color: #f4f4f9;
}

/* Responsividad */
@media (max-width: 768px) {
  .footer-content {
    gap: 10px;
  }
}
