.navbar {
  background: linear-gradient(90deg, #004d7a, #007bb5);
  color: white;
  padding: 8px 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}


.navbar-title {
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  text-transform: uppercase;
}

.navbar-icon {
  font-size: 1.6rem;
}

.navbar-welcome {
  margin-right: 20px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar-links li {
  font-size: 1rem;
  position: relative;
  transition: all 0.3s ease;
}

.navbar-links li.active a {
  color: #f9a825;
  font-weight: bold;
}

.navbar-links li.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background-color: #f9a825;
  border-radius: 1px;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s ease;
}

.navbar-links a:hover {
  color: #f9a825;
  transform: translateY(-1px);
}

.navbar-links svg {
  font-size: 1.2rem;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.logout-button:hover {
  color: #f9a825;
  transform: scale(1.1);
}

.logout-icon {
  font-size: 1.1rem !important;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    gap: 10px;
  }

  .navbar-links {
    flex-direction: column;
    gap: 10px;
  }
}
