body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #fff;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

button {
    font-family: inherit;
}

.forgot-password-container,
.reset-password-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
